* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Englebert", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #eb4c4b;
}

p {
    margin: 10px;
}

select {
    font-size: 1.5rem;
}

button {
    font-size: 1rem;
}

#headContainer {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #eb4c4b, #ecc66d);
    width: 100%;
    height: 60px;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    position: fixed;
}

#loga {
    float: right;
}

nav {
    margin-left: 100px;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 10px;
}

nav li a {
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    justify-content: space-evenly;
    color: white;
}

a {
    color: #eb4c4b;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.eventPic {
    padding-top: 200px;
    margin: 0 auto;
    justify-content: space-evenly;
}

/* For about us page */

.scrumTextDiv {
    justify-content: center;
}

.aboutUsDiv {
    padding-top: 100px;
    text-align: center;
}

.aboutUsDiv h3 {
    margin: 30px;
}


/* For EventList page */

#genre,
#year {
    background-color: #eb4c4b;
    color: white;
    font-size: 1.3rem;
}

#filterBtn {
    background-color: #ecc66d;
    border-radius: 2px;
    font-size: 1.3rem;
}

.eventDiv {
    padding-top: 100px;
    justify-content: space-evenly;
}

.filterSection {
    padding-top: 100px;
    margin-left: 100px;
    text-align: center;
}

#crud {
    padding-top: 100px;
    margin-left: 45px;
}


/* Footer */

.footer {
	width: 100%;
	bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(to right, #eb4c4b, #ecc66d);
}

#imageContainer {
    display: flex;
    margin: 10%;
    margin-bottom: 50px;
}

#imageContainer img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}


/* Hidden */

.hidden {
    display: none;
}


/* detail site */

#detailPic {
    width: 800px;
}